<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="vacuum_holder">
    <xacro:macro name="vacuum_holder" params="parent *origin">
		<joint name="vacuum_holder_joint" type="fixed">
            <xacro:insert_block name="origin" />
            <parent link="${parent}" />
            <child link="vacuum_holder_link" />
        </joint>
        
	    <link name="vacuum_holder_link">
			<visual>
				<geometry>
					<mesh filename="package://svenzva_description/meshes/accessories/vacuum_holder.STL" />
				</geometry>
			</visual>
		</link>

    </xacro:macro>
</robot>
